<div class="container">
  <h1><%= @movie.title %></h1>
  <div class="row">
    <div class="col-md-4">
      <img src="<%= @movie.poster_url %>" class="img-fluid" alt="<%= @movie.title %>">
    </div>
    <div class="col-md-8">
      <p><%= @movie.overview %></p>
      <p>Rating: <%= @movie.rating %></p>
      <p>Lists: <%= @movie.lists.map(&:name).join(", ") %></p>
      <%= link_to 'Go back', lists_path(@list), class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-secondary' %>
      <%= link_to 'Destroy', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
